
/* Basic                                                                         */
/* ----------------------------------------------------------------------------- */

body {min-width: 641px;}

body, input, textarea, select {font-size: 14pt; }

/* Nav                                                                           */
/* ----------------------------------------------------------------------------- */

#nav:before {display: none !important;}

#nav li:hover a {background: none;}

/* Content                                                                       */
/* ----------------------------------------------------------------------------- */

.toolbar {display:none;}

#content {margin-top: 44px;}

/* Sidebar                                                                       */
/* ----------------------------------------------------------------------------- */

#sidebar {
	width: auto;
	background: none;
	padding: 30px 20px;
}

body.left-sidebar #content  {margin-left: 0; }
body.right-sidebar #content {margin-right: 0;}